<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">home</a>
        <a class="navbar-brand" href="admin">مدیریت</a>
        <a class="navbar-brand" href="create">ایجاد فیلد جدید</a>
        {% if request.user.is_authenticated %}
            <p>{{ request.user }}</p>
            <a class="navbar-brand" href="{% url 'user_logout' %}">خروج</a>

        {% else %}
            <a class="navbar-brand" href="{% url 'user_register' %}">ثبت نام</a>
            <a class="navbar-brand" href="{% url 'user_login' %}">ورود</a>
        {% endif %}


    </div>
</nav>